{% extends "abogado/abogado.html" %}
{% load static %}
{% block titulo %}Sistema Homologacion{% endblock %}
{% block content %}
<div id="main-slider" class="slider slide" style="margin-top: -7%;margin-bottom: 10%">
    <div class="slide slide-01">
        <div class="content">
            <div class="mask">
                <h1>BIENVENIDO</h1>    
                <h2>{{persona.first_name}} {{persona.last_name}}</h2>   
                <h3>{{persona.rol.nombre}}</h3>   
            </div>
        </div>
    </div>
</div>
{% endblock %}