{% extends "abogado/abogado.html" %}
{% load static %}
{% block titulo %}Sistema Homologacion{% endblock %}
{% block content %}
<div class="card" >

    <div class="card-header"  style="background: #bbb">


        <div class="row">

            <div class="container" style="margin-top: 3% "> 
                <!-- Trigger the modal with a button -->
                <div class="table-responsive" style="margin-top: 10%;background: #e5e5e5">           
                    <center>
                        
                        <center>
                            <label style="background: #FE2E2E"> </label>
                        </center>
                        
                        <center>
                            <label style="background: #04B431"> </label>
                        </center>
                        
                        <a class="navbar-brand text-brand" href="#" style="font-size: 40px">Lista d<span class="color-b">e Tramites</span></a>
                        <br>                           
                    </center>

                    <table  class="table table-hover table-responsive" id="tabla" style="font-size: 100%">

                        <thead class="color-b" style="font-size: 20px;text-align: center">                                         
                        <th>Nro</th>
                        <th>Foto</th>
                        <th>Solicitante</th>
                        <th>Codigo</th>
                        <th>Tipo</th>

                        <th>Carrera</th>
                        <th>Carpeta</th>
                        <th>Estado</th>

                        </thead>

                        <tbody style="text-align: center">                            
                          {% for t in tramite %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>  
                                    <a href="{{t.tramite.persona.foto.url}}" target="_blank"> <img class = "rounded" src = "{{t.tramite.persona.foto.url}}" width = "40" /> </a>

                                </td>
                                <td>{{t.tramite.persona.first_name}} {{t.tramite.persona.last_name}}</td> 
                                <td>{{t.tramite.registro}} </td> 
                                <td>{{t.tramite.tipo}} </td>

                                <td>{{t.tramite.carrera}} </td> 
                                <td>  <a href="{{t.tramite.archivo.archivo.url}}"> <img class = "rounded" src = "{% static 'images/icons/archivo.png'%}" width = "40" /> </a></td>
                                {% if t.revSellos %}
                                <td><a id="{{forloop.counter}}" class="btn btn-success col-md-12"  href="#"  style="margin-left: 5%;background: #FFC312" data-placement="top" data-toggle="modal" data-target="#Form" title="Editar" ><span class="glyphicon glyphicon-pencil">Aceptado</span></a>
                                {% else %}
                                <td><a id="{{forloop.counter}}" class="btn btn-success col-md-12 "  href="#"  style="margin-left: 5%;background: #FE2E2E" data-placement="top" data-toggle="modal" data-target="#Form" title="Editar" ><span class="glyphicon glyphicon-pencil">En Espera</span></a>
                                {% endif %}
                            </tr>

                        <script>

                            $("#{{forloop.counter}}").click(function () {
                                $("#id_tramite").val("{{t.tramite.tramite_id}}");
                                $("#registro").val("{{t.tramite.registro}}");
                                var sel = '{{t.revSellos}}';
                                if( sel == 'True'){
                                    $("#id_revSellos").prop('checked',true);
                               }else{
                                    $("#id_revSellos").prop('checked',false);
                               }
                            });

                        </script>
                        {% endfor %}
                        </tbody>

                    </table>

                </div>

            </div>
        </div>


    </div>  
</div> 

<!-- Modal Editar Estado -->
<div id="Form" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <center>
                <div class="modal-header" >
                    <h2 class="modal-title" >Revicion Legal</h2> 
                </div>
            </center>
            <div class="modal-body">
                <form id="formRev" name="formRev" method="POST">
                    {% csrf_token %}
                    {{frm.tramite}}
                    <div class="form-group">
                        <label for="usuario">Tramite:</label>
                        <input type="text" class="form-control"   id="registro"   readonly>
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado:</label>
                        {{frm.revSellos}}
                    </div>

                    <div class="modal-footer col-md-12"> 
                        <button type="submit" class="btn btn-success col-md-6 " >Guardar</button>
                        <button type="button" class="btn btn-danger col-md-6"  data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
{% endblock %}