{% extends "abogado/abogado.html" %}
{% load static %}
{% block titulo %}Sistema Homologacion{% endblock %}
{% block content %}
<div class="" >

    <div class="content"  >

        <div class=""  style="background: #bbb" >

            <div class=""  >

                <div class="content" style="margin-top: 1%; margin-right: 12%;margin-left: 12%"> 

                    <div class="table-responsive table table-hover" style="margin-top: 10%;background: #e5e5e5">           

                        <center>
                            
                            <center>
                                <label style="background: #FE2E2E"> </label>
                            </center>
                            
                            <center>
                                <label style="background: #04B431"> </label>
                            </center>
                            
                            <a class="navbar-brand text-brand" href="#" style="font-size: 40px">Lista d<span class="color-b">e Seguimientos</span></a>
                            <br>
                        </center>
                        <table id="tabla" class=" table table-hover table-responsive navbar-brand "  >

                            <thead class="color-b" style="text-align: center">                                         
                            <th>Nro</th>
                            <th>Tramite</th>
                            <th>Sumillacion</th>
                            <th>Revision Legal</th>
                            <th>Asignacion de Docente</th>
                            <th>Revision de Informacion</th>
                            <th>Estado</th>
                            </thead>

                            <tbody style="text-align: center">                                                  
                                {% for s in seguimiento %}        
                                <tr>
                                    <th>{{forloop.counter}}</th> 
                                    <th>{{s.tramite.registro}}</th>  
                                    {% if s.revSolicitud %}
                                    <th  style="background: #FFC312">Revisado</th>
                                    {% else %}
                                    <th  style="background: #FE2E2E">En Espera</th>                    
                                    {% endif %}
                                    {% if s.revSellos %}
                                    <th  style="background: #FFC312">Revisado</th>
                                    {% else %}
                                    <th  style="background: #FE2E2E">En Espera</th>                    
                                    {% endif %}
                                    {% if  s.asigDocente %}
                                    <th  style="background: #FFC312">{{s.tramite.docente}}</th>
                                    {% else %}
                                    <th  style="background: #FE2E2E">No Asignado</th>                    
                                    {% endif %}
                                    {% if  s.revDocumentacion %}
                                    <th  style="background: #FFC312">Revisado</th>
                                    {% else %}
                                    <th  style="background: #FE2E2E">En Espera</th>                    
                                    {% endif %}
                                    {% if  s.tramite.estado %}
                                    <th  style="background: #FFC312">Aceptado</th>
                                    {% else %}
                                    <th  style="background: #FE2E2E">No Admitido</th>                    
                                    {% endif %}

                                </tr>                       
                            {% endfor %}
                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>

    </div>  
</div> 
{% endblock %}