{% extends "solicitante/solicitante.html" %}
{% load static %}
{% block titulo %}Sistema Homologacion{% endblock %}
{% block content %}
<div class="" style="margin-top: 10%;margin-bottom: 4% ;margin-left: 15%;margin-right: 15%">
    <div class=" " style="">
        <div   style="background: #bbb">
            <div class="row" style="">

                <div class="card" > 
                    <!-- Trigger the modal with a button -->
                    <div class="table-responsive" style="background: #e5e5e5;text-align: center">           
                        <center>
                            <a class="navbar-brand text-brand" href="#" style="font-size: 40px">Lista d<span class="color-b">e Tramites</span></a>
                            <br>                           
                        </center>
                        <a onclick="" class="btn btn-success  "  href="#"  style="background: #FFC312;width: 100%" data-placement="top" data-toggle="modal" data-target="#Form" title="Editar" ><span class="glyphicon glyphicon-pencil">Nuevo Tramite</span></a>
                        <br>
                        <table  class="table table-hover table-responsive" id="tabla" style="font-size: 100%">

                            <thead class="color-b" style="font-size: 20px;text-align: center">                                         
                            <th>Nro</th>
                            <th>Codigo</th>
                            <th>Tipo</th>
                            <th>Area</th>
                            <th>Carrera</th>
                            <th>Carpeta</th>
                            <th>Estado</th>
                            <th>Accion</th>
                            </thead>

                            <tbody style="text-align: center">
                               

                            </tbody>

                        </table>

                    </div>

                </div>
            </div>


        </div>  
    </div> 
</div>
<!-- Modal Editar Estado -->
<div id="Form" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <center>
                <div class="modal-header" >
                    <h2 class="modal-title" >Tramites Academicos</h2> 
                </div>
            </center>
            <div class="modal-body">
                <form enctype = "multipart/form-data" action="/guardar/tramite"  method="POST">
                    <input type="hidden" class="form-control"  value="0" id="external" name="external"  readonly>
                    <input type="hidden" class="form-control"  value="0" id="externalT" name="externalT"  readonly>

                    <div class="form-group">
                        <label for="usuario">Codigo:</label>
                        <input type="text" class="form-control" value="{{Codigo}}"  id="registro" name="registro"  readonly>

                    </div>
                    <div class="form-group">
                        <label for="estado">Tipo:</label>
                        <select class="form-control" id="tipo" name="tipo">
                            <option disabled selected>Selecciona una opción</option>
                            <option value="Homologacion">Homologacion</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="estado">Carrera:</label>
                        <select class="form-control" id="carrera" name="carrera">
                            <option disabled selected>Selecciona una opción</option>
                            
                        </select>

                    </div>

                    <div class="form-group">
                        <label for="archivo">Archivo:</label>
                        <div class="input-group">
                            <input type="file" class="custom-file-input" id="archivo" name="archivo" >
                            <label class="custom-file-label" >Elegir Archivo formato .zip o .rar</label>
                        </div>
                    </div>

                    <div class="modal-footer col-md-12"> 
                        <button type="submit" class="btn btn-success col-md-6 " >Guardar</button>
                        <button type="button" class="btn btn-danger col-md-6"  data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
{% endblock %}