{% extends "login/login.html" %}
{% load static %}
{% block titulo %}Registro Usuario{% endblock %}
{% block content %}
<script>
    function cedula(txtCedula) {
        $.ajax({
            url: '/login/registro/'+ txtCedula,
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {

                if (data === true) {
                    var html = '<label style="background: #FE2E2E">El usuario ya existe</label>';
                    $("#mensaje").html(html);
                    $('#id_cedula').val("");
                } else {
                    $('#id_apellidos').attr('readonly', false);
                    $('#id_nombres').attr('readonly', false);
                    $('#id_fechaNacimiento').attr('readonly', false);
                    $('#id_telefono').attr('readonly', false);
                    $('#id_direccion').attr('readonly', false);
                    $('#iid_correo').attr('readonly', false);
                    $('#id_clave').attr('readonly', false);
                    $("#mensaje").html("");
                }

            },
            error: function (message) {
                console.log(message);
            }
        });
    }

    $(function () {
        $.validator.addMethod("soloLetras", function (value, element) {
            return this.optional(element) || /^[a-z\s]+$/i.test(value);
        }, "Solo letras ");

        $.validator.addMethod("cedula", function (value, element) {
            return this.optional(element) || validarCedula(value);
        }, "Ingrese una cedula valida ");

        $("#form_registro").validate({
            rules: {
                cedula: {
                    required: true,
                    number: true,
                    cedula: true,
                    minlength: 10,
                    maxlength: 10
                },
                apellidos: {
                    required: true,
                    soloLetras: true
                },
                nombres: {
                    soloLetras: true,
                    required: true
                },
                fechaNacimiento: {
                    required: true
                },
                edad: {
                    required: true
                },
                telefono: {
                    required: true
                },
                direccion: {
                    required: true,
                    maxlength: 255
                },
                correo: {
                    required: true
                },
                clave: {
                    required: true
                }
            }
        });
    });

    $(document).ready(function () {

        $('select option[value="4"]').attr('selected', true);
        /*$('#id_apellidos').attr('readonly', true);
        $('#id_nombres').attr('readonly', true);
        $('#id_fechaNacimiento').attr('readonly', true);
        $('#id_telefono').attr('readonly', true);
        $('#id_direccion').attr('readonly', true);
        $('#id_correo').attr('readonly', true);
        $('#id_clave').attr('readonly', true);
        $("#id_cedula").keyup(function () {
            var txt = $("#id_cedula").val();
            if (txt.length === 10) {
                cedula(txt);
            } else {
                $('#id_apellidos').attr('readonly', true);
                $('#id_nombres').attr('readonly', true);
                $('#id_fechaNacimiento').attr('readonly', true);
                $('#id_telefono').attr('readonly', true);
                $('#id_direccion').attr('readonly', true);
                $('#id_correo').attr('readonly', true);
                $('#id_clave').attr('readonly', true);

                $('#aid_pellidos').val("");
                $('#id_nombres').val("");
                $('#id_fechaNacimiento').val("");
                $('#id_telefono').val("");
                $('#id_direccion').val("");
                $('#id_correo').val("");
                $('#id_clave').val("");
            }
        });*/
    });
</script>

<div class="d-flex justify-content-center h-100" style="margin-top: 10%;margin-bottom: 10%"   >
    <div class="card">

        <center>
            <div id="mensaje"></div>
            <div class="card-header">
                <h3>Registro usuario</h3> 
            </div>  
        </center>

        <div class="card-body" >
            <form id="form_registro" name="form_registro" method="POST" style="color: white">{% csrf_token %}
                <center>
                    <label style="background: #FE2E2E">Datos Generales</label>
                    <br>

                </center>
                <br>
                <div class="form-group row">
                    <div class="input-group form-group col-sm-12">

                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{fPersona.cedula}}
                    </div>   
                </div>
                <div class="form-group row"> 
                    <div class="input-group form-group col-sm-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{fPersona.apellidos}}
                    </div>
                    <div class="input-group form-group col-sm-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{fPersona.nombres}}
                    </div>
                </div>
                <div class="form-group row"> 
                    <div class="input-group form-group col-sm-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{fPersona.fechaNacimiento}}
                    </div>                  
                    <div class="input-group form-group col-sm-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{fPersona.edad}}
                    </div>
                </div>
                <div class="form-group row"> 
                    <div class="input-group form-group col-sm-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{fPersona.telefono}}
                    </div>
                    <div class="input-group form-group col-sm-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{fPersona.direccion}}
                    </div>
                </div>
                {{fPersona.rol}}
                <center>
                    <label style="background: #FE2E2E">Datos de Cuenta</label>
                </center>
                <br>
                Correo Electronico
                <div class="input-group form-group">                                
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    {{fCuenta.correo}}
                </div>
                Clave
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    {{fCuenta.clave}}
                </div>                            
                <div class="form-group">
                    <button type="submit"  class="btn float-right login_btn">Registrarse</button>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                Ya tengo cuenta?<a href="/login"  style="color: #FFC312">Iniciar</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
