{% extends "decano/decano.html" %}
{% load static %}
{% block titulo %}Sistema Homologacion{% endblock %}
{% block content %}
<script>
    function PDF(txt) {
        var html = '<div class="embed-responsive" style="padding-bottom:85%">';
        html += '<object data="/upload/silabos/' + txt + '.pdf" type="application/pdf" width="100%" height="100%"></object>';
        html += '</div>';
        $("#pdf").html(html);
    }

</script>
<div class="card" >

    <div class="card-header " style="background: #bbb">


        <div class="row">

            <div class="container"  > 
                <!-- Trigger the modal with a button -->


                <div class="table-responsive" style="margin-top: 10%;background: #e5e5e5">           
                    <center>
                       
                       <center>
                            <label style="background: #FE2E2E"> </label>
                        </center>
                        
                        <center>
                            <label style="background: #04B431"> </label>
                        </center>
                        
                        <a class="navbar-brand text-brand " href="#" style="font-size: 200%"> {{carrera.area}} </a>
                        <br>
                        <a class="navbar-brand text-brand" href="#" style="font-size: 150%"> {{carrera.nombre}} </a>
                        <br>
                        <a class="navbar-brand text-brand" href="#" style="font-size: 100%">Malla <span class="color-b"> Curricular  {{malla.anio}} </span></a>
                        <br>
                        {% if malla.estado %} 
                        <td><a  class="btn btn-success "  href="#"  style="background: #26a356;width: 100%"><span class="glyphicon glyphicon-pencil">Activa</span></a>
                        {% else %}
                        <td><a class="btn btn-success "  href="#"  style="background: #FE2E2E;width: 100%"><span class="glyphicon glyphicon-pencil">Inactiva</span></a>
                        {% endif %}
                    </center>

                    <table id="malla" class="table table-border table-responsive " >

                        <thead style="font-size: 120%;text-align: initial" class="btn btn-success navbar-brand " >
                            <tr style="">
                                <th>Codigo A-001: </th>  
                                <th>Ciencias Basias de la Carrera e Informatica</th>
                                <th>  |  </th>
                                <th>Leyenda</th>
                            </tr>
                            <tr style="">  
                                <th>Codigo B-001: </th>  
                                <th>Practicas y Laboratorios</th>
                                <th>  |  </th>
                                <th>TOTAL DE CREDITOS: 354</th>
                            </tr>
                            <tr style="">
                                <th>Codigo C-001: </th>  
                                <th>Ciencias de Formacion Profecional</th>
                                <th>  |  </th>
                                <th>TOTAL DE ASIGNATURAS: 55</th>
                            </tr>
                            <tr style="">
                                <th>Codigo D-001: </th>  
                                <th>Asignaturas de Educacion General</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center">
                            
                            <tr>
                                <th>Ciclo I </th>
                                <th> {{n1.nombre}} </th> 
                            </tr>
                            <tr style="background: #228a47">
                                <th>#</th> 
                                <th>Codigo</th>  
                                <th>Nombre</th>
                                <th>Creditos</th>
                                <th>Duracion</th>
                                <th>Obligatoria</th>
                                <th>Silabo Actual</th>

                            </tr>
                            {% for c in ciclo1%} 
                            <tr style="background: #FFC312">
                                <th>{{c.materia_id}}</th> 
                                <th>{{c.codigo}}</th>  
                                <th>{{c.nombre}}</th>
                                <th>{{c.creditos}}</th>
                                <th>{{c.duracion}}</th>
                                <th>{{c.obligatoria}}</th>
                                <td>  <a  id="a{{c.materia_id}}" data-toggle="modal" data-target="#PDF"> <img class = "rounded" src = "/images/icons/pdf.jpg" width = "40" /> </a></td>
                        <script>

                            $("#a{{c.materia_id}}").click(function () {
                                PDF("{{ciclo.silabo.external_id}}");
                            });
                        </script>
                        </tr>
                       {% endfor %}
                        <tr>
                            <th>Ciclo II </th>
                            <th>{{n2.nombre}}</th> 
                        </tr>
                        <tr style="background: #228a47">
                            <th>#</th> 
                            <th>Codigo</th>  
                            <th>Nombre</th>
                            <th>Creditos</th>
                            <th>Duracion</th>
                            <th>Obligatoria</th>
                            <th>Silabo Actual</th>

                        </tr>
                        {% for c in ciclo2%} 
                        <tr style="background: #FFC312">
                             <th>{{c.materia_id}}</th> 
                                <th>{{c.codigo}}</th>  
                                <th>{{c.nombre}}</th>
                                <th>{{c.creditos}}</th>
                                <th>{{c.duracion}}</th>
                                <th>{{c.obligatoria}}</th>
                            <td>  <a  id="b{{c.materia_id}}" data-toggle="modal" data-target="#PDF"> <img class = "rounded" src = "/images/icons/pdf.jpg" width = "40" /> </a></td>
                        <script>

                            $("#b{{c.materia_id}}").click(function () {
                                PDF("{{ciclo.silabo.external_id}}");
                            });
                        </script>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th>Ciclo III </th>
                            <th>{{n3.nombre}}</th> 
                        </tr>
                        <tr style="background: #228a47">
                            <th>#</th> 
                            <th>Codigo</th>  
                            <th>Nombre</th>
                            <th>Creditos</th>
                            <th>Duracion</th>
                            <th>Obligatoria</th>
                            <th>Silabo Actual</th>

                        </tr>
                        {% for c in ciclo3%} 
                        <tr style="background: #FFC312">
                             <th>{{c.materia_id}}</th> 
                                <th>{{c.codigo}}</th>  
                                <th>{{c.nombre}}</th>
                                <th>{{c.creditos}}</th>
                                <th>{{c.duracion}}</th>
                                <th>{{c.obligatoria}}</th>
                            <td>  <a  id="c{{c.materia_id}}" data-toggle="modal" data-target="#PDF"> <img class = "rounded" src = "/images/icons/pdf.jpg" width = "40" /> </a></td>
                        <script>

                            $("#c{{c.materia_id}}").click(function () {
                                PDF("{{ciclo.silabo.external_id}}");
                            });
                        </script>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th>Ciclo IV </th>
                            <th><{{n4.nombre}}/th> 
                        </tr>
                        <tr style="background: #228a47">
                            <th>#</th> 
                            <th>Codigo</th>  
                            <th>Nombre</th>
                            <th>Creditos</th>
                            <th>Duracion</th>
                            <th>Obligatoria</th>
                            <th>Silabo Actual</th>

                        </tr>
                        {% for c in ciclo4%} 
                        <tr style="background: #FFC312">
                             <th>{{c.materia_id}}</th> 
                                <th>{{c.codigo}}</th>  
                                <th>{{c.nombre}}</th>
                                <th>{{c.creditos}}</th>
                                <th>{{c.duracion}}</th>
                                <th>{{c.obligatoria}}</th>
                            <td>  <a  id="d{{c.materia_id}}" data-toggle="modal" data-target="#PDF"> <img class = "rounded" src = "/images/icons/pdf.jpg" width = "40" /> </a></td>
                        <script>

                            $("#d{{c.materia_id}}").click(function () {
                                PDF("{{ciclo.silabo.external_id}}");
                            });
                        </script>

                        </tr>
                        {% endfor %}
                            <th>Ciclo V </th>
                            <th>{{n5.nombre}}</th> 
                        </tr>
                        <tr style="background: #228a47">
                            <th>#</th> 
                            <th>Codigo</th>  
                            <th>Nombre</th>
                            <th>Creditos</th>
                            <th>Duracion</th>
                            <th>Obligatoria</th>
                            <th>Silabo Actual</th>

                        </tr>
                        {% for c in ciclo5%} 
                        <tr style="background: #FFC312">
                             <th>{{c.materia_id}}</th> 
                                <th>{{c.codigo}}</th>  
                                <th>{{c.nombre}}</th>
                                <th>{{c.creditos}}</th>
                                <th>{{c.duracion}}</th>
                                <th>{{c.obligatoria}}</th>
                            <td>  <a  id="e{{c.materia_id}}" data-toggle="modal" data-target="#PDF"> <img class = "rounded" src = "/images/icons/pdf.jpg" width = "40" /> </a></td>
                        <script>

                            $("#e{{c.materia_id}}").click(function () {
                                PDF("{{ciclo.silabo.external_id}}");
                            });
                        </script>

                        </tr>
                        {% endfor %}
                            <th>Ciclo VI </th>
                            <th>{{n6.nombre}}</th> 
                        </tr>
                        <tr style="background: #228a47">
                            <th>#</th> 
                            <th>Codigo</th>  
                            <th>Nombre</th>
                            <th>Creditos</th>
                            <th>Duracion</th>
                            <th>Obligatoria</th>
                            <th>Silabo Actual</th>

                        </tr>
                       {% for c in ciclo6%} 
                        <tr style="background: #FFC312">
                             <th>{{c.materia_id}}</th> 
                                <th>{{c.codigo}}</th>  
                                <th>{{c.nombre}}</th>
                                <th>{{c.creditos}}</th>
                                <th>{{c.duracion}}</th>
                                <th>{{c.obligatoria}}</th>
                            <td>  <a  id="f{{c.materia_id}}" data-toggle="modal" data-target="#PDF"> <img class = "rounded" src = "/images/icons/pdf.jpg" width = "40" /> </a></td>
                        <script>

                            $("#f{{c.materia_id}}").click(function () {
                                PDF("{{ciclo.silabo.external_id}}");
                            });
                        </script>

                        </tr>
                        {% endfor %}
                        <tr>
                            <th>Ciclo VII </th>
                            <th>{{n7.nombre}}</th> 
                        </tr>
                        <tr style="background: #228a47">
                            <th>#</th> 
                            <th>Codigo</th>  
                            <th>Nombre</th>
                            <th>Creditos</th>
                            <th>Duracion</th>
                            <th>Obligatoria</th>
                            <th>Silabo Actual</th>

                        </tr>
                        {% for c in ciclo7%} 
                        <tr style="background: #FFC312">
                             <th>{{c.materia_id}}</th> 
                                <th>{{c.codigo}}</th>  
                                <th>{{c.nombre}}</th>
                                <th>{{c.creditos}}</th>
                                <th>{{c.duracion}}</th>
                                <th>{{c.obligatoria}}</th>
                            <td>  <a  id="g{{c.materia_id}}" data-toggle="modal" data-target="#PDF"> <img class = "rounded" src = "/images/icons/pdf.jpg" width = "40" /> </a></td>
                        <script>

                            $("#g{{c.materia_id}}").click(function () {
                                PDF("{{ciclo.silabo.external_id}}");
                            });
                        </script>

                        </tr>
                        {% endfor %}
                        <tr>
                            <th>Ciclo VIII </th>
                            <th>{{n8.nombre}}</th> 
                        </tr>
                        <tr style="background: #228a47">
                            <th>#</th> 
                            <th>Codigo</th>  
                            <th>Nombre</th>
                            <th>Creditos</th>
                            <th>Duracion</th>
                            <th>Obligatoria</th>
                            <th>Silabo Actual</th>

                        </tr>
                        {% for c in ciclo8%} 
                        <tr style="background: #FFC312">
                             <th>{{c.materia_id}}</th> 
                                <th>{{c.codigo}}</th>  
                                <th>{{c.nombre}}</th>
                                <th>{{c.creditos}}</th>
                                <th>{{c.duracion}}</th>
                                <th>{{c.obligatoria}}</th>
                            <td>  <a  id="h{{c.materia_id}}" data-toggle="modal" data-target="#PDF"> <img class = "rounded" src = "/images/icons/pdf.jpg" width = "40" /> </a></td>
                        <script>

                            $("#h{{c.materia_id}}").click(function () {
                                PDF("{{ciclo.silabo.external_id}}");
                            });
                        </script>

                        </tr>
                        {% endfor %}
                        <tr>
                            <th>Ciclo IX </th>
                            <th>{{n9.nombre}}</th> 
                        </tr>
                        <tr style="background: #228a47">
                            <th>#</th> 
                            <th>Codigo</th>  
                            <th>Nombre</th>
                            <th>Creditos</th>
                            <th>Duracion</th>
                            <th>Obligatoria</th>
                            <th>Silabo Actual</th>

                        </tr>
                         {% for c in ciclo9%} 
                        <tr style="background: #FFC312">
                             <th>{{c.materia_id}}</th> 
                                <th>{{c.codigo}}</th>  
                                <th>{{c.nombre}}</th>
                                <th>{{c.creditos}}</th>
                                <th>{{c.duracion}}</th>
                                <th>{{c.obligatoria}}</th>
                            <td>  <a  id="i{{c.materia_id}}" data-toggle="modal" data-target="#PDF"> <img class = "rounded" src = "/images/icons/pdf.jpg" width = "40" /> </a></td>
                        <script>

                            $("#i{{c.materia_id}}").click(function () {
                                PDF("{{ciclo.silabo.external_id}}");
                            });
                        </script>

                        </tr>
                        {% endfor %}
                        <tr>
                            <th>Ciclo X </th>
                            <th>{{n10.nombre}}</th> 
                        </tr>
                        <tr style="background: #228a47">
                            <th>#</th> 
                            <th>Codigo</th>  
                            <th>Nombre</th>
                            <th>Creditos</th>
                            <th>Duracion</th>
                            <th>Obligatoria</th>
                            <th>Silabo Actual</th>

                        </tr>
                        {% for c in ciclo10%} 
                        <tr style="background: #FFC312">
                             <th>{{c.materia_id}}</th> 
                                <th>{{c.codigo}}</th>  
                                <th>{{c.nombre}}</th>
                                <th>{{c.creditos}}</th>
                                <th>{{c.duracion}}</th>
                                <th>{{c.obligatoria}}</th>
                            <td>  <a  id="j{{c.materia_id}}" data-toggle="modal" data-target="#PDF"> <img class = "rounded" src = "/images/icons/pdf.jpg" width = "40" /> </a></td>
                        <script>

                            $("#j{{c.materia_id}}").click(function () {
                                PDF("{{ciclo.silabo.external_id}}");
                            });
                        </script>

                        </tr>
                       {% endfor %}
                        </tbody>


                    </table>

                </div>

            </div>
        </div>

    </div>  
</div> 

<!-- Modal Editar Estado -->
<div id="PDF" class="  modal fade" role="dialog" style="">
    <div class="container">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="card" >
                <div class="card-header " >
                    <a type="button" class="btn btn-danger col-md-12" href="/menu/plan">Cerrar</a>

                    <div id="pdf">           

                    </div>
                </div>  

            </div> 

        </div>

    </div>
</div>
{% endblock %}