{% extends "decano/decano.html" %}
{% load static %}
{% block titulo %}Sistema Homologacion{% endblock %}
{% block content %}
<div class="card" >
    <div class="card-header"  style="background: #bbb">
        <div class="row">
            <div class="container" style="margin-top: 3% "> 
                <!-- Trigger the modal with a button -->
                <div class="table-responsive" style="margin-top: 10%;background: #e5e5e5">               

                    <center>
                        
                        <center>
                            <label style="background: #FE2E2E"> </label>
                        </center>
                        
                        <center>
                            <label style="background: #04B431"> </label>
                        </center>
                       
                       <a class="navbar-brand text-brand" href="#" style="font-size: 40px">Asiganacion d<span class="color-b">e Docentes</span></a>


                    </center>
                    <table id="tabla" class="table table-hover table-responsive " >

                        <thead class="color-b" style="font-size: 20px;text-align: center">                                         
                        <th>Nro</th>
                        <th>Foto</th>
                        <th>Usuario</th>
                        <th>Cedula</th> 
                        <th>Tramite</th>
                        <th>Motivo</th> 
                        <th>Carrera</th>
                        <th>Solicitud</th>
                        <th>Docente</th>
                        </thead>

                        <tbody style="text-align: center">
                            {% for s in seguimiento %}                            
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>  
                                    <a href="{{s.tramite.persona.foto.url}}" target="_blank"> <img class = "rounded" src = "{{s.tramite.persona.foto.url}}" width = "40" /> </a>
                                </td>
                                <td>{{s.tramite.persona.first_name}} {{s.tramite.persona.last_name}} </td> 
                                <td>{{s.tramite.persona.cedula}}</td> 
                                <td>{{s.tramite.registro}}</td>
                                <td>{{s.tramite.tipo}}</td>

                                <td>{{s.tramite.carrera}} </td> 
                                <td> <a   href="{{s.tramite.archivo.archivo.url}}"> <img class = "rounded" src = "{% static 'images/icons/archivo.png'%}" width = "40" /> </a></td>
                                 {% if s.asigDocente %}
                                <td><a  id="{{forloop.counter}}"  class="btn btn-success col-md-12"  href="#"  style="margin-left: 5%;background: #FFC312" data-placement="top" data-toggle="modal" data-target="#Form2" ><span class="glyphicon glyphicon-pencil">{{s.tramite.docente}}</span></a>
                                 {% else %}
                                <td><a  id="{{forloop.counter}}"  class="btn btn-success col-md-12 "  href="#"  style="margin-left: 5%;background: #FE2E2E" data-placement="top" data-toggle="modal" data-target="#Form2" ><span class="glyphicon glyphicon-pencil">En espera</span></a>
                                {% endif %}
                            </tr>

                        <script>

                             $("#{{forloop.counter}}").click(function () {
                                $("#id_tramite").val("{{s.tramite.tramite_id}}");
                                $("#id_docente").val("{{s.tramite.docente.docente_id}}");
                                $("#id_registro").val("{{s.tramite.registro}}");
                                var sel = '{{s.asigDocente}}';
                                if( sel == 'True'){
                                    $("#id_asigDocente").prop('checked',true);
                               }else{
                                    $("#id_asigDocente").prop('checked',false);
                               }
                            });

                        </script>
                        {% endfor %}
                        </tbody>

                    </table>

                </div>

            </div>
        </div>
    </div>

</div>  


<div id="Form2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header" >
                <center>
                    <h2 class="modal-title" >Asiganar Docente</h2> 
                </center>
            </div>

            <div class="modal-body">
                <form name="consultas" id="consultas" method="POST">
                    {% csrf_token %}
                    {{frmA.tramite}}
                    <div class="form-group">
                        <label for="usuario">Tramite:</label>
                        {{frmD.registro}}
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado:</label>
                        {{frmA.asigDocente}}
                    </div>
                    <div class="form-group" id="CD" >
                        <label for='cedula'>Ingrese cedula del docente:</label>
                        {{frmD.docente}}
                    </div>
                    <div class="form-group" id="docente" >
                    </div>
                    <div class="modal-footer col-md-12"> 
                        <button type="submit" class="btn btn-success col-md-6 " >Guardar</button>
                        <button type="button" class="btn btn-danger col-md-6"  data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
{% endblock %}